### Compiled & Build Outputs (Maven y Gradle) ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/
out/
.kotlin

### Microservices & Spring Boot ###
# Solo ignora configuraciones locales personalizadas
application-local.yml
application-local.properties
application-*-local.yml
.env
.env.*

# Logs
*.log
logs/
*.out

# Código generado automáticamente
target/generated-sources/
target/generated-test-sources/

# Mocks y temporales
wiremock/
stubs/
.wiremock/

### IntelliJ IDEA (Configurado para compartir botones de ejecución) ###
.idea/*
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/*
!.vscode/launch.json

### Operating Systems ###
.DS_Store
Thumbs.db
*.tmp