### Maven & Gradle Builds ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/
out/
.gradle/
.kotlin

### Spring Boot & Microservices ###
# Ignorar perfiles locales y secretos
application-local.yml
application-local.properties
application-*-local.yml
.env
.env.*

# Logs y trazas de red
*.log
logs/
*.out

# Generación automática de código y mocks
target/generated-sources/
target/generated-test-sources/
wiremock/
stubs/
.wiremock/
HELP.md

### IntelliJ IDEA (Permite compartir configuraciones de ejecución) ###
.idea/*
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/*
!.vscode/launch.json

### Eclipse & STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Operating Systems ###
.DS_Store
Thumbs.db
*.tmp
